body {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 14px;
}
ul,
li,
h1 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #005ac3;
  text-transform: uppercase;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #eeefef;
  padding-bottom: 3px;
  &__logo {
    margin: 7px 0 0 70px;
    object-fit: cover;
  }
  &__items {
    display: flex;
    justify-content: flex-end;
    margin-top: 23px;
    width: 483px;
  }
  &__item {
    list-style: none;
    margin-left: 44px;
    &-link {
      font-family: Roboto Medium;
      color: #005ac3;
    }
  }
  &__item:nth-child(2) {
    margin-left: 50px;
  }
  &__score {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 23px 68px 0 0;
    width: 203px;
    &-link {
      font-family: Roboto Medium;
    }
    &-btn {
      padding: 8px 29px;
      background-color: #005ac3;
      color: white;
      border-radius: 15px;
      font-size: 10px;
    }
  }
  &__burger {
    display: none;
  }
}
.title {
  background: url("../img/bg-bus.png") center/cover no-repeat;
  max-width: 1280px;
  height: 435px;
  &__heading {
    color: white;
    font-size: 37px;
    width: 400px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 110px 0 0 110px;
  }
}

.form {
  background-color: rgba(0, 102, 204, 0.95);
  max-width: 966px;
  height: 277px;
  margin: 150px auto 0 auto;
  &__groups {
    max-width: 681px;
    margin: 0 auto;
    overflow: hidden;
    &-buttons{
      display: flex;
      justify-content: space-between;
      &-btn-reset{
        color: white;
        text-decoration: underline;
        font-size: 10px;
        margin-top: 13px;
      }
      &-btn-search{
        color: white;
        padding: 8px 43px;
        background-color: #7AB931;
        border-radius: 10px;
        font-family:  Roboto Medium;
        font-size: 12px;
      }
    }
  }
  &__heading {
    color: white;
    font-size: 22px;
    padding: 15px 0 7px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  &__group:nth-child(3) {
    margin-bottom: 20px;
  }
  &__group {
    margin: 0 auto 28px auto;
    &-span {
      color: white;
      vertical-align: middle;
      text-align: center;
      margin-left: 8px;
      font-size: 12px;
    }
    &-input {
      height: 21px;
      font-size: 12px;
      &-year {
        width: 80px;
      }
      &-characteristic {
        width: 200px;
        margin-left: 25px;
      }
      &-characteristic:first-child {
        margin-left: 0px;
      }
      &-year:nth-child(3) {
        margin: 0 0 0 7px;
      }
      &-retine {
        height: 21px;
        width: 100%;
      }
    }
    &-input::placeholder {
      font-size: 11px;
      letter-spacing: -0.2px;
      transform: translate(4px, -2px);
      font-family: Roboto Medium;
      color: black;
    }
  }
}
