<header>
  <div class="container">
    <nav class="main-nav">
      <img class="main-nav__logo" src="img/logo.png" alt="logo" width="80" height="45" />
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a class="main-nav__item-link" href="#about">about</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__item-link" href="#inventory">inventory</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__item-link" href="#contact">contact</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__item-link" href="#news">news</a>
        </li>
      </ul>
      <ul class="main-nav__score">
        <li class="main-nav__score-link"><a href="#cart">cart(<output>0</output>)</a></li>
        <li><a class="main-nav__score-btn" href="#call">call now</a></li>
      </ul>
      <div class="main-nav__burger">
        <span></span>
      </div>
    </nav>
  </div>
</header>
