<main>
  <div class="title">
    <div class="container">
      <h1 class="title__heading">Find the coach for you</h1>
    </div>
    <div class="form">
      <div class="container">
        <h2 class="form__heading">Search-pre-owned inventory</h2>
        <div class="form__groups">
          <div class="form__group">
            <input
              class="form__group-input form__group-input-year"
              type="text"
              placeholder="Min Year"
            />
            <span class="form__group-span">to</span>
            <input
              class="form__group-input form__group-input-year"
              type="text"
              placeholder="Max Year"
            />
            <input
              class="form__group-input form__group-input-characteristic"
              type="text"
              placeholder="Make"
            />
            <input
              class="form__group-input form__group-input-characteristic"
              type="text"
              placeholder="Model"
            />
          </div>
          <div class="form__group">
            <input
              class="form__group-input form__group-input-characteristic"
              type="text"
              placeholder="Engine"
            />
            <input
              class="form__group-input form__group-input-characteristic"
              type="text"
              placeholder="Transmission"
            />
            <input
              class="form__group-input form__group-input-characteristic"
              type="text"
              placeholder="Lift"
            />
          </div>
          <div class="form__group">
            <input
              class="form__group-input form__group-input-retine"
              type="text"
              placeholder="Refine with Keywords(separate each entry with ;)"
            />
          </div>
          <div class="form__groups-buttons">
            <a class="form__groups-buttons-btn-reset"href="!#">reset fields</a>
            <a class="form__groups-buttons-btn-search">search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
